@model ExpensesModel 

@{
    ViewData["Title"] = "Expenses";
    double totalExpenses = 0;
    IEnumerable<Expense> expenses = Model.GetEnumerator();
}


@foreach(Expense expense in expenses)
{
    <div>
        @expense.Description
    </div>

    <div>
        @expense.Amount.ToString("C")
    </div>

    <br />

    totalExpenses += expense.Amount;
}

<div>
    <p>Total Expenses per month : @totalExpenses.ToString("C")</p>
</div>
