@model IncomeModel

@{
    ViewData["Title"] = "Income";
    double totalIncome = 0;
}


@foreach(Income income in Model.GetEnumerator())
{
    <div>
        @income.Description
    </div>

    <div>
        @income.Amount.ToString("C")
    </div>

    <br />

    totalIncome += income.Amount;
}

<br />

<div>
    <p>Total gross income per month : @totalIncome.ToString("C")</p>
</div>

