@model IndexModel

@{
    ViewData["Title"] = "Home Page";
}

    @for (int i = 0; i < 12; i++)
    {
        <div style="display: flex; flex-flow: row nowrap; justify-content: space-evenly; ">
            <div style="display: flex;"><b>@Model.MonthsAndYears[i].ToString("MM/yyyy")</b></div>
            <div style="display: flex;">@Model.MonthlyStartingAmounts[i].ToString("C")</div>
            <div style="display: flex;">@Model.MonthlyEndingAmounts[i].ToString("C")</div>
            <div style="display: flex;">@Model.AmountLoansHaveBeenPaidOff[i].ToString("C")</div>
        </div>

        <hr />

        <br />
    }
